<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="ROBOTS" content="NOODP" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title><%= title %></title>
    <%= stylesheet_link_tag :application, media: "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= body_class %>">
    <%= render "flashes" -%>
    <% if signed_in? %>
      Signed in as: <%= current_user.email %>
      <%= button_to 'Sign out', sign_out_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign in', sign_in_path %>
    <% end %>

    <%= redux_store 'Store', { user: { email: current_user.email } } %>
    <%= redux_router 'Routes' %>

    <%= yield %>

    <%= render 'javascript' %>
    <%= render 'layouts/react_hot_assets' %>
    <%= render 'css_overrides' %>
  </body>
</html>
